.button {
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 17px;
  padding-left: 25px;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: $basic-bg-color;
  cursor: pointer;

  &:hover {
    background-color: $button-color-hover;
  }

  &:active {
    background-color: $button-color-active;
    color: rgba(#ffffff, 0.3);
  }

  &:disabled {
    background-color: $button-color-disabled;
  }
}
