.button {
  box-sizing: border-box;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 16px;
  padding-left: 25px;
  display: block;
  font-family: $main-font;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: $button-text;
  background-color: $button-bg;
  cursor: pointer;

  &:hover {
    background-color: $button-bg-hover;
  }

  &:active {
    background-color: $button-bg-active;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $button-bg-disabled;
  }
}
