.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 12px;
  font-size: 14px;
  line-height: 26px;
}

.copyright__logo-link {
  display: block;
  width: 27px;
  height: 35px;

  &:hover .copyright__logo-academy {
    fill: $copyright-logo-hover;
  }

  &:active .copyright__logo-academy {
    fill: $copyright-logo-active;
  }
}

.copyright__logo-academy {
  fill: $copyright-logo;
}
