.features-details {
  margin: 0;
  padding: 35px 40px 35px 18px;
  list-style: none;
  color: $black;
  background-color: $white;
  text-align: left;

  @media (min-width: $tablet-size) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.features-details__item {
  margin-bottom: 27px;
  position: relative;
  padding-left: 52px;
  word-wrap: break-word;

  &:last-child {
    margin-bottom: 1px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &--house::before {
    top: -9px;
    left: 3px;
    width: 39px;
    height: 37px;
    background-image: url("../img/feature-house.svg");
  }

  &--souvenirs::before {
    top: -11px;
    left: 7px;
    width: 32px;
    height: 38px;
    background-image: url("../img/feature-souvenirs.svg");
  }

  &--food::before {
    top: -5px;
    left: 0;
    width: 40px;
    height: 35px;
    background-image: url("../img/feature-food.svg");
  }

  @media (min-width: $tablet-size) {
    box-sizing: border-box;
    margin: 0;
    padding: 158px 36px 60px 36px;
    min-width: 256px;
    max-width: 33%;
    background-color: $white;
    text-align: center;

    &--souvenirs {
      order: 2;
    }

    &::before {
      left: 50%;
      transform: translate(-50%);
    }

    &--house::before {
      top: 60px;
      width: 75px;
      height: 73px;
    }

    &--souvenirs::before {
      top: 57px;
      width: 63px;
      height: 76px;
    }

    &--food::before {
      top: 63px;
      width: 77px;
      height: 69px;
    }
  }

  @media (min-width: $desktop-size) {
    min-width: 400px;
    padding-bottom: 80px;
  }
}

.features-details__title {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;

  @media (min-width: $tablet-size) {
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 26px;
  }
}

.features-details__description {
  margin: 0;
  line-height: 21px;
  color: $sub-text;

  @media (min-width: $desktop-size) {
    margin: 0 auto;
    width: 300px;
  }
}

.features-details__tablet-nowrap {
  @media (min-width: $tablet-size) {
    white-space: nowrap;
  }
}

.features-details__desktop-nowrap {
  @media (min-width: $desktop-size) {
    white-space: nowrap;
  }
}
