.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;

  @media (min-width: $tablet-size) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features-list__item {
  display: flex;
  flex-direction: column;

  &--have-image {
    padding: 0;
    color: #ffffff;
    background-color: $basic-bg-color;

    & .features-list__title {
      width: 100%;

      @media (min-width: $desktop-size) {
        margin-right: auto;
        margin-left: auto;
        width: 200px;
      }
    }
  }

  &:not(.features-list__item--have-image) {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px 15px 24px 15px;
    width: 280px;
    border-top: 1px solid #d6d6d6;
  }

  @media (min-width: $tablet-size) {
    &:not(.features-list__item--have-image) {
      padding: 41px 40px 42px 40px;
      min-width: 256px;
      max-width: 33%;
    }

    &--have-image {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
    }

    &--reverse-image {
      & .features-list__image-container {
        order: -1;
      }
    }
  }

  @media (min-width: $desktop-size) {
    &:not(.features-list__item--have-image) {
      min-width: 400px;
      padding-bottom: 62px;
    }
  }
}

.features-list__wrapper {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  &--first {
    padding-top: 71px;
    padding-bottom: 37px;
  }

  &--second {
    padding-top: 39px;
    padding-bottom: 35px;
  }

  @media (min-width: $tablet-size) {
    box-sizing: border-box;
    padding: 42px 30px 41px 30px;
    min-width: 256px;
    max-width: 33%;
  }

  @media (min-width: $desktop-size) {
    min-width: 400px;

    &--first {
      padding-top: 47px;
    }

    &--second {
      padding-top: 51px;
    }
  }
}

.features-list__number {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-size) {
    margin-bottom: 24px;
  }
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  order: -1;

  @media (min-width: $tablet-size) {
    margin-bottom: 13px;
    font-size: 21px;
    word-wrap: break-word;

    &--narrow {
      margin-left: auto;
      margin-right: auto;
      width: 120px;
    }
  }

  @media (min-width: $desktop-size) {
    margin-right: auto;
    margin-left: auto;
    width: 120px;
  }
}

.features-list__title-nowrap {
  @media (min-width: $tablet-size) {
    white-space: nowrap;
  }
}

.features-list__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $desktop-size) {
    margin: 0 auto;
    width: 300px;
  }
}

.features-list__image-container {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 260px;
  flex-grow: 1;
  overflow: hidden;

  @media (min-width: $tablet-size) {
    height: 256px;
  }
}

.features-list__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.features-list__desktop-nowrap {
  @media (min-width: $desktop-size) {
    white-space: nowrap;
  }
}
