.features-details {
  margin: 0;
  padding: 35px 40px 35px 18px;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
}

.features-details__item {
  margin-bottom: 26px;
  position: relative;
  padding-left: 52px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: -5px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--house::before {
    left: 3px;
    width: 39px;
    height: 37px;
    background-image: url("../../img/feature-house.svg");
  }

  &--souvenirs::before {
    left: 7px;
    width: 32px;
    height: 38px;
    background-image: url("../../img/feature-souvenirs.svg");
  }

  &--food::before {
    left: 0;
    width: 40px;
    height: 35px;
    background-image: url("../../img/feature-food.svg");
  }
}

.features-details__title {
  font-weight: bold;
  font-size: 18px;
}

.features-details__description {
  margin: 0;
  color: $sub-text-color;
}
