.fieldset {
  padding: 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;

  &--name {
    padding-bottom: 23px;

    & .fieldset__legend {
      @media (min-width: $tablet-size) {
        width: 100%;
        justify-content: flex-start;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  &--contacts {
    @media (min-width: $desktop-size) {
      flex-direction: row;
      flex-wrap: wrap;

      & .fieldset__label {
        width: 50%;
        margin: 0;
        flex-direction: row;
        align-items: center;
      }
    }

    & .fieldset__legend {
      margin-bottom: 16px;

      @media (min-width: $tablet-size) {
        margin-bottom: 20px;
      }

      @media (min-width: $desktop-size) {
        margin-bottom: 72px;
        width: 100%;
      }
    }

    & .fieldset__label:not(:last-of-type) {
      margin-bottom: 14px;

      @media (min-width: $tablet-size) {
        margin-bottom: 25px;
      }

      @media (min-width: $desktop-size) {
        margin-bottom: 0;
      }
    }
  }

  &--impression {
    padding-bottom: 26px;

    @media (min-width: $tablet-size) {
      position: relative;
      order: -1;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background-color: #dbdbdb;
      }
    }

    & .fieldset__legend {
      box-sizing: border-box;
      width: 100%;
      justify-content: flex-start;

      @media (min-width: $tablet-size) {

        padding-right: 50px;
        text-align: left;
      }

      @media (min-width: $desktop-size) {
        padding-left: 80px;
      }
    }
  }

  &--attraction {
    padding-top: 15px;
    padding-bottom: 23px;

    & .fieldset__legend {
      @media (min-width: $tablet-size) {
        margin-bottom: 42px;
      }

      @media (min-width: $desktop-size) {
        margin-bottom: 44px;
      }
    }
  }

  &--feedback {
    & .fieldset__legend {
      margin-bottom: 15px;

      @media (min-width: $tablet-size) {
        margin-bottom: 55px;
      }
    }
  }

  @media (min-width: $tablet-size) {
    border-top: none;
    padding: 0;
  }
}

.fieldset__legend {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-size) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 21px;
    text-align: center;
  }
}

.fieldset__legend--decor {
  @media (min-width: $tablet-size) {
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 10px;
      flex-grow: 1;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::before {
      margin-right: 45px;
    }

    &::after {
      margin-left: 45px;
    }
  }
}

.fieldset__radio {
  &:not(:last-child) {
    margin-bottom: 11px;

    @media (min-width: $tablet-size) {
      margin-bottom: 20px;
    }
  }
}

.fieldset__label:not(:last-of-type) {
  margin-bottom: 20px;
}

.fieldset__checkbox:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: $tablet-size) {
    margin-bottom: 0;
  }
}

.fieldset__checkbox-wrapper {
  @media (min-width: $tablet-size) {
    padding-right: 85px;
    padding-left: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 52px;
    row-gap: 34px;
  }

  @media (min-width: $desktop-size) {
    padding: 0;
    grid-template-columns: 238px 238px 219px 205px;
    column-gap: 20px;
  }
}
