.info {
  padding: 40px;
  padding-bottom: 35px;
  display: none;
  text-align: center;

  &--show {
    display: block;
  }
}

.info__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.info__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.info__button {
  &--error {
    margin: 0 auto;
    width: 180px;
  }

  &--success {
    width: 100%;
  }
}

@media (min-width: $tablet-size) {
  .info {
    box-sizing: border-box;
  }

  .info__title {
    font-size: 30px;
    line-height: 40px;
  }

  .info--error {
    padding: 52px 64px 49px 64px;
    width: 400px;
  }

  .info--success {
    padding: 55px 99px 44px 99px;
    width: 640px;
  }
}
