.input {
  display: flex;
  align-items: center;

  &--column {
    flex-direction: column;
    align-items: flex-start;

    & .input__prompt {
      margin-bottom: 8px;
      padding-left: 22px;

      @media (min-width: $desktop-size) {
        margin-bottom: 0;
        padding-left: 0;
      }
    }
  }
}

.input__prompt {
  margin-right: 15px;
  font-size: 14px;
  line-height: 26px;

  @media (min-width: $desktop-size) {
    margin-right: 15px;
  }
}

.input__field {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 22px 14px 22px;
  border: none;
  background-color: $input;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  &::placeholder {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  &:hover {
    background-color: $input-hover;
  }

  &:focus,
  &:active {
    background-color: $white;
    outline: 4px solid $input-hover;
    outline-offset: -4px;
  }

  &--phone,
  &--email {
    padding-right: 80px;
  }

  &--textarea {
    padding-top: 13px;
    resize: none;
  }
}

.input__wrapper {
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: $mercury;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--phone::after {
    background-image: url("../img/phone.svg");
  }

  &--email::after {
    background-image: url("../img/mail.svg");
  }

  @media (min-width: $desktop-size) {
    width: 315px;
  }
}

.input__desktop-hidden {
  @media (min-width: $desktop-size) {
    display: none;
  }
}
