.media {
  text-align: center;
}

.media__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;

  &--first {
    width: 320px;
    margin-bottom: 30px;

    @media (min-width: $tablet-size) {
      margin-bottom: 80px;
      width: 475px;
    }

    @media (min-width: $desktop-size) {
      margin-bottom: 82px;
    }
  }

  &--second {
    width: 300px;
    margin-bottom: 34px;

    @media (min-width: $tablet-size) {
      margin-bottom: 78px;
      width: 490px;
    }

    @media (min-width: $desktop-size) {
      margin-bottom: 76px;
    }
  }
}

.media__title {
  margin: 0 auto;
  margin-bottom: 28px;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;

  @media (min-width: $tablet-size) {
    margin-bottom: 35px;
    font-size: 30px;
  }
}

.media__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
}

.media__photo-wrapper {
  margin-bottom: 32px;

  @media (min-width: $tablet-size) {
    margin: 0 auto;
    margin-bottom: 57px;
    padding-right: 60px;
    padding-left: 60px;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    width: 648px;
  }

  @media (min-width: $desktop-size) {
    margin-bottom: 61px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    width: 100%;
  }
}

.media__video {
  margin: 0 auto;
  margin-bottom: 111px;

  @media (min-width: $tablet-size) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-size) {
    margin-bottom: 91px;
  }
}
