.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: $mobile-size;
  max-width: $tablet-size;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.page__main {
  flex-grow: 1;
}
