.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: $mobile-size;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.page__main {
  flex-grow: 1;
}

@media (min-width: $tablet-size) {
  .page__body {
    width: $tablet-size;
  }
}

@media (min-width: $desktop-size) {
  .page__body {
    width: $desktop-size;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
