.radio {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  word-wrap: break-word;
}

.radio__control {
  position: absolute;
  appearance: none;

  &:checked + .radio__icon::after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background-color: $sub-text;
    border-radius: 50%;
  }

  &:focus + .radio__icon {
    outline: 2px solid $black;
  }
}

.radio__icon {
  position: absolute;

  width: 57px;
  height: 57px;
  background-color: $radiocheck;
  border-radius: 50%;

  &:hover .radio__icon {
    background-color: $radiocheck-hover;
  }

  &:active .radio__icon {
    background-color: $radiocheck-active;
  }

  &:active .radio__icon::after {
    opacity: 0.3;
  }
}

.radio__prompt {
  display: block;
  padding-right: 15px;
  padding-left: 78px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
