.review__wrapper {
  padding: 36px 20px 16px 20px;
  text-align: center;
}

.review__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.review__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: $sub-text-color;
}

@media (min-width: $tablet-size) {
  .review {
    padding-right: 60px;
    padding-left: 60px;
  }

  .review__wrapper {
    padding: 64px 106px 60px 106px;
  }

  .review__title {
    font-size: 30px;
  }
}

@media (min-width: $desktop-size) {
  .review {
    padding-right: 120px;
    padding-left: 120px;
  }

  .review__wrapper {
    padding: 114px 262px 56px 262px;
  }
}
