.review-form {
  margin-bottom: 44px;

  @media (min-width: $tablet-size) {
    margin-bottom: 67px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-size) {
    margin-bottom: 72px;
  }
}

.review-form__fieldset {
  @media (min-width: $tablet-size) {
    width: 100%;

    &--impression {
      order: -1;
    }

    &--half-width {
      width: 50%;
    }
  }
}

.review-form__button {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-size) {
    margin: 0;
    margin-right: auto;
    width: 324px;
  }

  @media (min-width: $desktop-size) {
    width: 480px;
  }
}

.review-form__footnote {
  display: none;

  @media (min-width: $tablet-size) {
    display: flex;
    align-items: center;
  }
}
