.review-form__button {
  margin: 0 auto;
  width: 280px;
}

.review-form__footnote {
  display: none;
}

@media (min-width: $tablet-size) {
  .review-form {
    display: flex;
    flex-wrap: wrap;
  }

  .review-form__fieldset {
    width: 100%;

    &--first {
      order: -1;
    }

    &--half-width {
      width: 50%;
    }
  }

  .review-form__button {
    margin: 0;
    margin-right: auto;
    width: 324px;
  }

  .review-form__footnote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: $desktop-size) {
  .review-form__button {
    width: 480px;
  }
}
