.review-form {
  padding-bottom: 44px;

  @media (min-width: $tablet-size) {
    padding-bottom: 67px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-size) {
    padding-bottom: 70px;
  }
}

.review-form__fieldset {
  margin: 0;

  @media (min-width: $tablet-size) {
    width: 100%;
  }

  &--half-width {
    @media (min-width: $tablet-size) {
      width: 50%;
    }
  }

  &--name {
    @media (min-width: $tablet-size) {
      margin-bottom: 69px;
      width: 265px;
    }

    @media (min-width: $desktop-size) {
      width: 400px;
    }
  }

  &--contacts {
    margin-bottom: 6px;

    @media (min-width: $tablet-size) {
      margin-bottom: 50px;
    }
  }

  &--impression {
    margin-right: auto;
    order: -1;

    @media (min-width: $tablet-size) {
      margin-bottom: 69px;
    }
  }

  &--attraction {
    @media (min-width: $tablet-size) {
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-size) {
      margin-bottom: 68px;
    }
  }

  &--feedback {
    margin-bottom: 34px;

    @media (min-width: $tablet-size) {
      margin-bottom: 61px;
    }
  }
}

.review-form__button {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-size) {
    margin: 0;
    margin-right: auto;
    width: 324px;
  }

  @media (min-width: $desktop-size) {
    width: 480px;
  }
}

.review-form__footnote {
  display: none;

  @media (min-width: $tablet-size) {
    display: flex;
    align-items: center;
  }
}
