.social {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  display: grid;
  width: 150px;
  grid-template-columns: repeat(auto-fit, 46px);
  gap: 6px;
  list-style: none;

  @media (min-width: $tablet-size) {
    margin-bottom: 0;
  }
}

.social__items {
  display: block;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: $basic-bg-color;
  text-align: center;
}
