.video {
  position: relative;
  width: 320px;
  height: 201px;

  @media (min-width: $tablet-size) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-size) {
    width: 800px;
  }
}

.video__preview {
  display: block;
  width: 320px;
  height: 201px;

  @media (min-width: $tablet-size) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-size) {
    width: 800px;
  }
}

.video__controls-wrapper {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -66px;
  width: 280px;
  height: 111px;

  @media (min-width: $tablet-size) {
    bottom: 0;
    width: 100%;
    height: 93px;
    background-color: rgba($black, 0.6);
  }
}

.video__scale {
  position: absolute;
  bottom: 66px;
  width: 280px;
  height: 45px;
  background-color: rgba($black, 0.6);

  @media (min-width: $tablet-size) {
    bottom: 0;
    left: 74px;
    height: inherit;
    background-color: transparent;
    width: 428px;
    z-index: 1;
  }

  @media (min-width: $desktop-size) {
    width: 580px;
  }
}

.video__bar {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  height: 3px;
  background-color: rgba($white, 0.2);
}

.video__toggle {
  position: absolute;
  top: 50%;
  left: 56px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-size) {
    left: 130px;
  }
}

.video__buttons-wrapper {
  position: absolute;
  bottom: 0;
  min-width: 280px;
  height: 66px;
  background-color: $concrete;

  @media (min-width: $tablet-size) {
    width: 100%;
    height: inherit;
    background-color: transparent;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--replay {
    left: 15px;
  }

  &--subtitles {
    right: 73px;
  }

  &--fullscreen {
    right: 16px;
  }

  &:hover .video__icon {
    fill: $video-icon-mobile-hover;
  }

  &:active .video__icon {
    fill: $video-icon-mobile-active;
  }

  @media (min-width: $tablet-size) {
    &--replay {
      left: 25px;
    }

    &--subtitles {
      right: 91px;
    }

    &--fullscreen {
      right: 34px;
    }

    &:hover .video__icon {
      fill: $video-icon-tablet-hover;
    }

    &:active .video__icon {
      fill: $video-icon-tablet-active;
    }
  }

  @media (min-width: $desktop-size) {
    &--replay {
      left: 24px;
    }

    &--subtitles {
      right: 93px;
    }

    &--fullscreen {
      right: 36px;
    }
  }
}

.video__icon {
  fill: $video-icon-mobile;

  @media (min-width: $tablet-size) {
    fill: $video-icon-tablet;
  }
}
