$mobile-size: 320px;
$mobile-size-only: 767px;
$tablet-size: 768px;
$desktop-size: 1200px;

$basic-bg-color: #81b3d2;

$main-menu-current: #766357;
$main-menu-hover: #81b3d2;
$main-menu-active: rgba(#000000, 0.3);

$button-color: #81b3d2;
$button-color-hover: #669ec0;
$button-color-active: #5496bd;
$button-color-disabled: #e5e5e5;

$input-color: #f2f2f2;
$input-color-hover: #e5e5e5;

$social-color: #81b3d2;
$social-color-hover: #669ec0;
$social-color-active: #5496bd;

$copyright-logo: #000000;
$copyright-logo-hover: #81b3d2;
$copyright-logo-active: rgba(#000000, 0.3);

$heading-text-color: #000000;
$sub-text-color: #333333;

$radiocheck-color: #f2f2f2;
$radiocheck-color-hover: #e5e5e5;
$radiocheck-color-active: #d5d5d5;

$video-icon-mobile: #5c6870;
$video-icon-mobile-hover: #333333;
$video-icon-mobile-active: rgba($video-icon-mobile-hover, 0.3);
$video-icon-tablet: #ffffff;
$video-icon-tablet-hover: rgba($video-icon-tablet, 0.6);
$video-icon-tablet-active: rgba($video-icon-tablet, 0.3);
