/* Размеры устройств */
$mobile-size: 320px;
$mobile-size-only: 767px;
$tablet-size: 768px;
$desktop-size: 1200px;

/* Наименования цветов */
$white: #ffffff;
$black: #000000;
$mine-shaft: #333333;
$pine-cone: #766357;
$half-baked: #81b3d2;
$fountain-blue: #669ec0;
$steel-blue: #5496bd;
$aqua-island: #9ac2db;
$mercury: #e5e5e5;
$concrete: #f2f2f2;
$alto: #d5d5d5;
$alto-light: #dbdbdb;
$gallery: #eeeeee;
$gallery-darken: #eaeaea;
$gallery-darkest: #e1e1e1;
$regent-gray: #808f9a;
$shuttle-gray: #5c6870;


/* Основной фоновый цвет */
$basic-bg: $half-baked;

/* Ссылки главного меню */
$main-menu-current: $pine-cone;
$main-menu-hover: $half-baked;
$main-menu-active: rgba($black, 0.3);

/* Кнопка */
$button-bg: $half-baked;
$button-bg-hover: $fountain-blue;
$button-bg-active: $steel-blue;
$button-bg-disabled: $mercury;
$button-text: $white;

/* Поле ввода */
$input: $concrete;
$input-hover: $mercury;

/* Иконка соц. сети */
$social: $half-baked;
$social-hover: $fountain-blue;
$social-active: $steel-blue;

/* Логотип HTML Academy */
$copyright-logo: $black;
$copyright-logo-hover: $half-baked;
$copyright-logo-active: rgba($black, 0.3);

/* Заголовок */
$heading-text-color: $black;

/* Текст */
$sub-text: $mine-shaft;

/* Радио и чекбокс */
$radiocheck: $concrete;
$radiocheck-hover: $mercury;
$radiocheck-active: $alto;

/* Элементы управления видео */
$video-icon-mobile: $shuttle-gray;
$video-icon-mobile-hover: $mine-shaft;
$video-icon-mobile-active: rgba($video-icon-mobile-hover, 0.3);
$video-icon-tablet: $white;
$video-icon-tablet-hover: rgba($video-icon-tablet, 0.6);
$video-icon-tablet-active: rgba($video-icon-tablet, 0.3);
